#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}


.header{
  width: 100%;
  display: flex;
  color: green;
  text-align: center;
  background-color: aqua;
  margin: 0%;
}
#transaction{
  border: 2px solid white;
  background-color: blue;
  color: violet;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


